@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Treat

<h4>Add a new Treat</h4>

@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.SomeProperty, new {@class="form-label"})
  @Html.TextBoxFor(model => model.SomeProperty, new {@class = "form-control", type="text", id="some-property"})

  <input type="submit" value="Add Treat" class="btn btn-outline-success" />
}
<p>@Html.ActionLink("Back to All Treats", "Index")</p>