@{
  Layout = "_Layout";
}
<h1>Project Name or some other header</h1>
<p>@Html.ActionLink("View All Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("View All Flavor Categories", "Index", "Flavors")</p>