@{
  Layout = "_Layout";
}

@model SweetAndSavory.Models.Flavor

<h4>Add a new flavor</h4>
@using (Html.BeginForm())
{
  @Html.LabelFor(model => model.SomeProperty, new {@class="form-label"})
  @Html.TextBoxFor(model => model.SomeProperty, new {@class = "form-control", type="text", id="some-property"})
  <input type="submit" value="Add New Flavor" class="btn btn-outline-success" />
}
<p>@Html.ActionLink("Show All Flavors", "Index")</p>